.contact-page{
    width: 100%;
    padding: 0 3em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contact-page h1{
    text-align: center;
    font-size: 5em;
}

.contact-form{
    width: 100%;
    background-color: var(--light-grey);
    padding: 5em 12.5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.contact-info{
    display: flex;
    flex-direction: column;
}

.icon-head-content-cont{
    display: flex;
    align-items: first baseline;
    gap: 1em;
    width: 15em;
    border-bottom: 1px solid #d3d3d3;
}

.contact-info .icon{
    font-size: 1em;
    margin: 0.2em;
    color: var(--green);
}

.contact-info h3{
    font-size: 1.5em;
    font-weight: lighter;
    display: flex;
    align-items: center;
}

.contact-info p{
    font-size: 1.2em;
    color: var(--grey);
}

.contact-form-inputs{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
    border-left: 1px solid #d3d3d3;
    padding-left: 5em;
}

.contact-form-inputs label{
    font-size: 1.2em;
    color: var(--grey);
}

.contact-form-inputs input{
    width: 100%;
    height: 3em;
    border: 1px solid #d3d3d3;
    font-size: 1.3em;
    padding: 0 1em;
    box-sizing: border-box;
}

.contact-form-inputs input:focus, .contact-form-inputs textarea:focus{
    border: 1px solid white;
    outline: none;
}

.contact-form-inputs textarea{
    width: 100%;
    height: 8em;
    border: 1px solid #d3d3d3;
    font-size: 1.3em;
    padding: 1em 1em;
    box-sizing: border-box
}

.contact-form-inputs button{
    font-size: 1em;
    background-color: var(--green);
    color: white;
    width: 10em;
    height: 3em;
}

.contact-form-inputs button:hover{
    cursor: pointer;
    background-color: var(--green-hover);
}

/* message sent */
/* message sent */
/* message sent */
/* message sent */
/* message sent */
/* message sent */
/* message sent */
/* message sent */
/* message sent */
/* message sent */

.message-sent{
    width: 100%;
    background-color: var(--light-grey);
    padding: 2em 12.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message-sent .image{
    width: 50%;
}
.message-sent img{
    width: 100%;
}

.message-sent p{
    font-size: 1.3em;
    color: var(--grey);
    text-align: center;
}

/* FAQs section */
/* FAQs section */
/* FAQs section */
/* FAQs section */
/* FAQs section */
/* FAQs section */
/* FAQs section */
/* FAQs section */
/* FAQs section */
/* FAQs section */
/* FAQs section */

.contact-FAQs{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
}

.FAQs-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-FAQs h2{
    font-size: 2.3em;
    margin: 0;
}

.FAQs-heading p{
    font-size: var(--P-font-size);
    color: var(--grey);
}

.FAQs-cont{
    border: 1px solid var(--very-light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FAQs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FAQs > *{
    width: 100%;
}

.FAQs button{
    padding: 1em 1em;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
}

.FAQs .answer-span{
    font-size: var(--P-font-size);
    color: var(--grey);
    transition: .3s;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0;
}

.FAQs p{
    padding: 1.5em;
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
}