@media (min-width: 0px) and (max-width: 850px) {
  .cart-page-body h1 {
    font-size: 3em;
  }
  .cart-page-body {
    padding: 1em 2%;
  }
  .table-total {
    flex-direction: column;
  }

  .table-total > * {
    width: 100%;
  }

  .checkout-btn {
    font-size: 1em;
  }

  .cart-page-update {
    font-size: 0.9em;
  }

  .cart-totals h2 {
    font-size: 1.2em;
  }

  .cart-totals p {
    font-size: 0.9em;
  }
}
