@media (max-width: 1100px) {
  .app-body {
    padding: 0 1em;
  }
  .home-body {
    margin: 0;
  }

  .navbar {
    padding: 0 2em;
  }
  .navbar-center,
  .navbar-center > * {
    flex-direction: column;
    flex-basis: 0;
  }
  .navbar-center {
    padding-top: 1.5em;
    background-color: white;
    width: 40%;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateX(-150%);
    transition: 0.3s;
    z-index: 4;
    box-sizing: border-box;
    flex-basis: 0;
    gap: 0;
  }

  .navbar-center section {
    width: 100%;
    gap: 0.5em;
    padding: 1em;
  }

  .navbar-center a {
    border-bottom: 1px solid var(--border-grey);
    padding: 2em;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    border-radius: 5px;
  }

  .tab-only-link {
    display: block;
  }

  .desktop-only-link {
    display: none;
  }

  .navbar-center .active-link-btn {
    background-color: var(--border-grey);
    box-shadow: unset;
  }

  .navbar > button {
    position: static;
    display: block;
  }

  .closeNav {
    display: block;
  }

  .navbar .navbar-center .link {
    width: 70%;
    padding-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
    flex-basis: 0;
    border: 1px solid;
  }

  .navbar .tab-only-link {
    display: flex;
  }

  .navbar .desktop-only-link {
    display: none;
  }

  .profile-icon div {
    border: none;
  }

  .profile-icon {
    position: absolute;
    top: 2.5em;
    border-bottom: none;
  }
  .profile-icon a {
    border-bottom: none;
  }
  .closeMenu {
    display: block;
  }

  .cart {
    width: 60%;
  }
  /* search bar */
  /* search bar */
  /* search bar */
  /* search bar */
  /* search bar */
  .search-bar {
    display: flex;
  }

  .search-results {
    width: 25em;
  }

  /*site intro*/
  /*site intro*/
  /*site intro*/
  /*site intro*/
  /*site intro*/

  .site-intro {
    padding: 13em 5em;
  }

  .site-intro-right {
    width: 70%;
  }
  .site-intro h1 {
    font-size: 3em;
    margin: 0.5em 0;
  }

  /* home page first body */
  /* home page first body */
  /* home page first body */
  /* home page first body */
  /* home page first body */

  .homepage-about {
    width: 100%;
  }

  .about-logos-container {
    flex-direction: column;
    align-items: center;
  }

  .about-logos-container h3 {
    width: 100%;
    text-align: center;
  }

  .homepage-about-paragraph {
    flex-direction: column;
  }

  .homepage-about-paragraph .image {
    width: 100%;
  }

  .homepage-about-paragraph > div {
    width: 100%;
    flex-direction: column;
  }

  /* home page how shoes are made */
  /* home page how shoes are made */
  /* home page how shoes are made */
  /* home page how shoes are made */
  /* home page how shoes are made */

  .shoe-made {
    padding: 5em 1em;
  }

  .shoe-made > :first-child {
    width: 100%;
  }

  .shoe-made-container span {
    width: 30%;
  }

  /* best sellers */
  /* best sellers */
  /* best sellers */
  /* best sellers */
  /* best sellers */
  .best-sellers,
  .new-arrivals {
    width: 100%;
    padding: 0 2em;
    box-sizing: border-box;
  }

  .product-modal {
    padding-bottom: 2em;
  }
  .loading-product-modal {
    padding-bottom: 2em;
  }

  /* shop men shop women section */
  /* shop men shop women section */
  /* shop men shop women section */
  /* shop men shop women section */
  /* shop men shop women section */

  .home-shop {
    gap: 0;
  }
  .heading-button {
    padding: 4em 0;
  }

  /* recycle section */
  /* recycle section */
  /* recycle section */
  /* recycle section */
  /* recycle section */

  .home-recycle {
    padding: 2em 2em;
  }

  .home-recycle span {
    padding: 0;
    gap: 2em;
  }

  /* footer better for people and planer section */
  /* footer better for people and planer section */
  /* footer better for people and planer section */
  /* footer better for people and planer section */
  /* footer better for people and planer section */

  .footer-better {
    padding: 8em 0;
  }

  /* footer center */
  /* footer center */
  /* footer center */
  /* footer center */
  /* footer center */
  .footer > div {
    width: 100%;
  }

  /* footer links */
  /* footer links */
  /* footer links */
  /* footer links */
  /* footer links */
  /* footer links */

  .footer-links {
    flex-wrap: wrap;
    padding: 0 2em;
  }

  .footer-links .heading-content {
    width: 45%;
  }
  .footer-links > div {
    width: 45%;
  }

  .foot-end {
    padding: 2em 2em;
  }

  .not-found {
    height: 90vh;
  }

  .not-found h1 {
    font-size: 3em;
  }

  .not-found a {
    font-size: 1em;
  }
}
