:root {
  --orange: #f6aa28;
  --orange-hover: #fdc159;
  --black: #262b2c;
  --grey: #a0a5a7;
  --light-grey: #f1f1ef;
  --border-grey: #e3e3e3;
  --green: #6e7051;
  --green-hover: #9c9e81;
  --clicked-green: #444532;
  --clicked-grey: rgb(230, 230, 230);

  --P-font-size: 1.2em;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-grey);
}

body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: var(--black);
  background-color: var(--light-grey);
}

.app-body {
  margin: 0;
  width: 100%;
  background-color: var(--light-grey);
  padding: 0 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  line-height: 2em;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
}

/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */

.scroll-top-btn {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: white;
  color: var(--green);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  padding: 1.5em;
  transform: translateY(200%);
  transition: 0.5s;
  z-index: 3;
}

.scroll-top-btn:hover {
  cursor: pointer;
  background-color: var(--light-grey);
}
.navbar,
.navbar-center,
.navbar-center section {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.navbar {
  background-color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5em;
  box-sizing: border-box;
  padding: 0 2em;
  margin-bottom: 1em;
}

.navbar section {
  align-items: center;
  box-sizing: border-box;
}

.navbar-center {
  justify-content: space-between;
  flex-grow: 3;
  position: relative;
}

.closeNav {
  position: absolute;
  font-size: 1.5em;
  right: 1em;
  top: 1em;
  display: none;
}

.closeNav:hover {
  cursor: pointer;
  background-color: var(--light-grey);
}

.navbar-center a {
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  color: var(--grey);
  height: 3.5em;
  padding: 0 1em;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: 0.1s;
}

.navbar-center a:hover {
  color: #555;
}

.navbar .tab-only-link {
  display: none;
}

.nav-site-logo {
  width: 9em;
}

.navbar > button {
  position: absolute;
  display: none;
}

.closeMenu {
  position: absolute;
  display: none;
}

.profile-icon a,
.cart-icon button,
.navbar-button {
  font-size: 1.3em;
  color: var(--black);
}

/* navbar cart */
/* navbar cart */
/* navbar cart */
/* navbar cart */
/* navbar cart */

.cart-icon {
  position: relative;
}

.cart-icon button:hover {
  cursor: pointer;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 35%;
  height: 100vh;
  box-sizing: border-box;
  padding-bottom: 4em;
  z-index: 4;
  background-color: white;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.3);
  transform: translateX(105%);
  transition: 0.3s;
}

.cart-title-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 75%;
  margin: 0;
}

.cart-title-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  height: 5em;
  padding: 0 1em;
  box-sizing: border-box;
}

.cart .cart-title-close h3 {
  font-size: 1.3em;
  font-weight: lighter;
}

.cart-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em 0.5em;
  box-sizing: border-box;
  gap: 2em;
  width: 100%;
  overflow-y: auto;
  margin: 0;
  border-bottom: 1px solid var(--border-grey);
}

.cart-item {
  width: 100%;
  height: 6em;
  padding: 0 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.cart-item-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  height: 100%;
  box-sizing: border-box;
}

.cart-item-left span {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cart-item-left a {
  text-decoration: none;
  margin: 0;
  font-size: 1.2em;
  color: #777;
}

.cart-item-left img {
  width: 6em;
}

.cart-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-item-right p {
  margin: 0;
  font-size: 1.2em;
  color: var(--grey);
}

.cart-item-right button {
  color: var(--grey);
  font-size: 1.3em;
}

.cart .loaded-cart a,
.cart .cont-shop {
  text-decoration: none;
  width: 95%;
  padding: 1em 0;
  background-color: var(--green);
  color: white;
  font-size: 1.1em;
  text-align: center;
}

.cart .loaded-cart a:hover,
.cart .cont-shop:hover {
  background-color: var(--green-hover);
  color: white;
}

.loaded-cart {
  margin: 0;
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  box-sizing: border-box;
}

.loaded-cart span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: 3em;
  box-sizing: border-box;
  font-size: 1.3em;
  border: 1px solid var(--border-grey);
}

.loaded-cart .price {
  color: var(--grey);
}

.cart-empty {
  font-size: 1.2em;
  color: var(--grey);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-items-count {
  position: absolute;
  font-size: 0.5em;
  font-weight: bold;
  top: -1.5em;
  right: -0.5em;
  height: 2em;
  width: 2em;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  border-radius: 50%;
  color: white;
}

.screen-cover {
  display: block;
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

/* loading cart */
/* loading cart */
/* loading cart */
/* loading cart */
/* loading cart */
/* loading cart */
.loading-items {
  flex-shrink: 0;
  width: 100%;
  height: 7em;
  border-radius: 5px;
  background-color: var(--light-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  box-sizing: border-box;
}

.loading-items .image {
  height: 100%;
  width: 6em;
  border-radius: 5px;
  background-color: var(--border-grey);
}

.loading-items .cart-item-left span {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loading-items .title {
  width: 10em;
  height: 1.5em;
  background-color: var(--border-grey);
}

.loading-items .setquantity {
  width: 7em;
  height: 2.5em;
  background-color: var(--border-grey);
}

.loading-items .cart-item-right {
  height: 80%;
}

.loading-items .cart-item-right .delete {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: var(--border-grey);
}

.loading-items .price {
  width: 5em;
  height: 1.5em;
  background-color: var(--border-grey);
}

/* search bar */
/* search bar */
/* search bar */
/* search bar */
/* search bar */
/* search bar */
/* search bar */
/* search bar */
/* search bar */
/* search bar */

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.search-bar form {
  width: 25em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  width: 85%;
  height: 100%;
  border: 1px solid var(--grey);
  padding: 0 0.5em;
  box-sizing: border-box;
  font-size: 1.3em;
}

.search ::placeholder {
  font-size: 1.5em;
}

.search-bar input:focus {
  border: 1px solid var(--orange);
  outline: none;
}

.search-bar button {
  background-color: var(--green);
  height: 100%;
  width: 13%;
  color: white;
  box-sizing: border-box;
  font-size: 1.5em;
}

.search-bar button:hover {
  cursor: pointer;
  background-color: rgb(41, 56, 41);
}

.search-results {
  width: 25em;
  z-index: 2;
  background-color: white;
  position: absolute;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
  top: 110%;
  box-sizing: border-box;
}

.search-results a {
  text-decoration: none;
  color: black;
  height: 2em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.search-results a:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}

.search-results img {
  width: 2em;
}

.search-results p {
  font-size: 1em;
}

/*site intro*/
/*site intro*/
/*site intro*/
/*site intro*/
/*site intro*/
/*site intro*/
/*site intro*/
/*site intro*/
/*site intro*/
/*site intro*/

.site-intro {
  width: 100%;
  padding: 13em 10em;
  box-sizing: border-box;
  position: relative;
  background-image: url("/public/images/home-page/home-site-intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-intro-right {
  width: 50%;
}

.site-intro h1,
.site-intro p {
  color: white;
}

.site-intro h1 {
  font-size: 5em;
  margin: 0.5em 0;
}
.site-intro p {
  font-size: var(--P-font-size);
}

.intro-link-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 3em;
}

.site-intro .link-buttons {
  width: 45%;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
  color: #555;
  background-color: white;
  border-radius: 2px;
  font-weight: bold;
}

.intro-link-buttons:hover {
  background-color: #555;
  color: white;
}

/* home page about*/
/* home page about*/
/* home page about*/
/* home page about*/
/* home page about*/
/* home page about*/
/* home page about*/
/* home page about*/
/* home page about*/
/* home page about*/

.homepage-about {
  width: 80%;
}

.about-logos-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  border-bottom: 1px solid var(--grey);
}

.about-logos-container h3 {
  width: 13%;
  font-size: 1em;
  flex-shrink: 0;
}

.about-logos-container span {
  display: flex;
}

.about-logos-container .logo {
  width: 15%;
}

.about-logos-container img {
  width: 100%;
}

.homepage-about-paragraph {
  padding: 7em 0;
  display: flex;
  justify-content: space-between;
}

.homepage-about-paragraph .image {
  width: 50%;
}

.homepage-about-paragraph > div {
  width: 50%;
  box-sizing: border-box;
  padding: 2em;
}

.homepage-about-paragraph h2 {
  color: var(--orange);
  font-size: 1.1em;
  font-weight: lighter;
}

.homepage-about-paragraph h3 {
  font-size: 3em;
  font-weight: lighter;
}

.homepage-about-paragraph p {
  font-size: var(--P-font-size);
  color: var(--grey);
}

.homepage-about-paragraph a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid var(--orange);
  color: #222;
  padding: 0.3em 0;
}

.homepage-about-paragraph a:hover {
  border-bottom: 2px solid black;
}
.homepage-about-paragraph img {
  width: 100%;
}

/* home page how shoes are made */
/* home page how shoes are made */
/* home page how shoes are made */
/* home page how shoes are made */
/* home page how shoes are made */
/* home page how shoes are made */
/* home page how shoes are made */
/* home page how shoes are made */
/* home page how shoes are made */
/* home page how shoes are made */

.shoe-made {
  width: 100%;
  background-color: var(--light-grey);
  padding: 5em 10em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoe-made > :first-child {
  text-align: center;
  width: 70%;
}

.shoe-made h2 {
  font-size: 3em;
  font-weight: lighter;
}

.shoe-made p {
  color: var(--grey);
  font-size: var(--P-font-size);
}

.shoe-made-container {
  display: flex;
  justify-content: space-between;
}

.shoe-made-container span {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: right;
}

.shoe-made-container .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoe-made-container img {
  width: 90%;
}

.shoe-made-container > :first-child {
  text-align: left;
}

#info-num {
  font-size: 1em;
  color: var(--orange);
}

.info h3 {
  font-size: 1.7em;
}

/* best sellers */
/* best sellers */
/* best sellers */
/* best sellers */
/* best sellers */
/* best sellers */
/* best sellers */
/* best sellers */
/* best sellers */
/* best sellers */

.best-sellers,
.new-arrivals {
  margin: 3em 0;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.products-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.products-section h2 {
  font-size: 2em;
  font-weight: lighter;
}

.products-section a {
  text-decoration: none;
  color: var(--black);
  font-weight: bolder;
  border-bottom: 2px solid var(--orange);
  padding-bottom: 0.5em;
}

.products-section a:hover {
  border-bottom: 2px solid var(--black);
}

.products-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5%;
}

.product-modal {
  position: relative;
  width: 30%;
  padding-bottom: 2em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product-modal > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.product-modal img {
  transition: 0.2s;
  width: 100%;
}
.product-modal img:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  border-radius: 5px;
}

.product-modal a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--black);
}

.product-modal a:hover {
  color: var(--grey);
}

.product-modal .name {
  height: 3em;
}

.product-modal p {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--grey);
}

.sale-disp > :first-child {
  color: #dbdbdb;
  text-decoration: line-through;
}

.product-modal .rating-stars {
  color: #c4c4c4;
}

.sale-disp {
  display: flex;
  gap: 0.2em;
  justify-content: center;
}

.sale-disp > :first-child {
  color: #dbdbdb;
  text-decoration: line-through;
}

.product-modal .rating-stars {
  color: #c4c4c4;
}

.sale-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #6e7051;
  color: white;
  width: 10px;
  height: 10px;
  padding: 15px;
  border-radius: 50%;
  z-index: 1;
}

.sale-modal p {
  font-size: 0.9em;
  color: white;
  font-weight: lighter;
}

/* loading products section */
/* loading products section */
/* loading products section */
/* loading products section */
/* loading products section */
/* loading products section */
/* loading products section */
/* loading products section */
/* loading products section */
/* loading products section */

.loading-product-modal {
  position: relative;
  width: 30%;
  padding-bottom: 7em;
  height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.loading-product-modal > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  width: 100%;
}

.loading-product-modal > div {
  height: 20em;
  background-color: var(--light-grey);
  transition: 0.2s;
  width: 100%;
}

.loading-product-modal span h4 {
  width: 100%;
  height: 2em;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--black);
  background-color: var(--light-grey);
}

.loading-product-modal p {
  width: 80%;
  background-color: var(--light-grey);
  font-weight: bold;
  font-size: 1.2em;
  color: var(--grey);
}

.loading-product-modal span div {
  width: 60%;
  background-color: var(--light-grey);
  height: 2em;
}

/* shop men shop women section */
/* shop men shop women section */
/* shop men shop women section */
/* shop men shop women section */
/* shop men shop women section */
/* shop men shop women section */
/* shop men shop women section */
/* shop men shop women section */
/* shop men shop women section */
/* shop men shop women section */
/* shop men shop women section */

.home-shop {
  width: 100%;
  display: flex;
  gap: 2em;
  box-sizing: border-box;
  margin-top: 5em;
}

.heading-button {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15em 0;
  background-image: url("/public//images/home-page/shop-women.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-shop > :first-child {
  background-image: url("/public/images/home-page/shop-men.jpg");
}

.home-shop h2 {
  color: white;
  font-size: 3em;
}

.home-shop a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  border: 2px solid white;
  width: 10em;
  padding: 1em 0;
  text-align: center;
}

/* recycle section */
/* recycle section */
/* recycle section */
/* recycle section */
/* recycle section */
/* recycle section */
/* recycle section */
/* recycle section */
/* recycle section */
/* recycle section */

.home-recycle {
  background-color: var(--light-grey);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5em 10%;
  box-sizing: border-box;
}

.home-recycle > * {
  width: 50%;
  display: flex;
  justify-content: center;
}

.home-recycle span {
  box-sizing: border-box;
  padding: 3em;
  flex-direction: column;
  font-size: var(--P-font-size);
  color: var(--grey);
  gap: 5em;
  line-height: 2em;
}

.home-recycle-logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home-recycle .image img {
  border-radius: 50%;
  border: 2px dashed var(--black);
}

/* home page customer reviews */
/* home page customer reviews */
/* home page customer reviews */
/* home page customer reviews */
/* home page customer reviews */
/* home page customer reviews */
/* home page customer reviews */
/* home page customer reviews */
/* home page customer reviews */
/* home page customer reviews */

.home-customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  width: 100%;
}

.home-customers h2 {
  font-size: 2.5em;
  text-align: center;
}
.home-customers > span {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 1em;
  margin: 2em 0;
}

.home-customers > p {
  color: var(--grey);
  font-weight: bold;
  font-size: var(--P-font-size);
  margin-bottom: 3em;
}

.home-customers .review {
  display: flex;
  flex-direction: column;
  border: 1px solid #d7d7d7;
  width: 33%;
  padding: 2em 2em;
  box-sizing: border-box;
}

.home-customers .review > p {
  font-size: var(--P-font-size);
  font-weight: bold;
}

.home-customers .review img {
  border-radius: 50%;
}

.home-customers .review span {
  display: flex;
  gap: 1em;
  align-items: center;
}

.home-customers .review span p {
  color: var(--grey);
  font-size: var(--P-font-size);
}

/* footer better for people and planer section */
/* footer better for people and planer section */
/* footer better for people and planer section */
/* footer better for people and planer section */
/* footer better for people and planer section */
/* footer better for people and planer section */
/* footer better for people and planer section */
/* footer better for people and planer section */
/* footer better for people and planer section */
/* footer better for people and planer section */

.footer {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-better {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13em 0;
  text-align: center;
  background-image: url("/public//images/footer/better-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-better h2 {
  font-size: 4em;
  color: white;
  margin: 0;
}

.footer-better p {
  color: white;
  font-size: 1.1em;
}

.footer-better .head-info-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-better span {
  width: 20em;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-top: 2em;
}

.footer-better span a {
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
  width: 10em;
  padding: 1em 0;
  background-color: white;
  transition: 0.2s;
}

.footer-better span a:hover {
  background-color: #262b2c;
  color: white;
}

/* footer center */
/* footer center */
/* footer center */
/* footer center */
/* footer center */
/* footer center */
/* footer center */
/* footer center */
/* footer center */
/* footer center */
.footer > div {
  width: 70%;
}
.foot-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0;
  border-bottom: 1px solid #d5d5d5;
}

.foot-icons .icon-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 20em;
  text-align: center;
  font-size: 1.3em;
  font-weight: lighter;
}

/* footer links */
/* footer links */
/* footer links */
/* footer links */
/* footer links */
/* footer links */
/* footer links */
/* footer links */
/* footer links */
/* footer links */

.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 5em 0;
  box-sizing: border-box;
}

.footer-links .heading-content {
  width: 30%;
}

.footer-links h3 {
  font-size: 1.7em;
}

.footer-links p {
  font-size: var(--P-font-size);
  color: var(--grey);
}

.footer-links .head-and-links span a {
  text-decoration: none;
  color: var(--grey);
  font-size: var(--P-font-size);
  display: flex;
  padding: 0.5em 0;
}

.footer-links .head-and-links span a:hover {
  color: #555;
}

/* end of footer */
/* end of footer */
/* end of footer */
/* end of footer */
/* end of footer */
/* end of footer */
/* end of footer */
/* end of footer */
/* end of footer */

.foot-end {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 15%;
  background-color: var(--light-grey);
  box-sizing: border-box;
  color: var(--grey);
}

.network-err {
  background-color: white;
  color: red;
  font-size: 1.2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 0 2em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  position: fixed;
  bottom: 0;
  transform: translateY(150%);
  transition: 0.3s;
}

/* not found */
/* not found */
/* not found */
/* not found */
/* not found */
/* not found */
/* not found */
/* not found */
/* not found */
/* not found */

.not-found {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.not-found h1 {
  font-size: 4em;
  color: var(--green);
  margin: 0;
}

.not-found a {
  text-decoration: none;
  background-color: var(--orange);
  color: white;
  padding: 0.7em 2.5em;
  font-size: 1.3em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.not-found a:hover {
  cursor: pointer;
  background-color: var(--orange-hover);
}
