@media (min-width: 0px) and (max-width: 850px) {
  body {
    margin: 0;
  }

  .app-body {
    padding: 0 2%;
  }
  .navbar {
    padding: 0 1em;
    height: 4em;
    font-size: 0.8em;
  }

  .navbar-center {
    width: 60%;
  }

  .navbar-center a {
    padding: 1.5em;
    border-bottom: 1px solid var(--border-grey);
  }

  .navbar-profile {
    border: 2px solid black;
  }

  .nav-site-logo {
    width: 9em;
  }

  .profile-icon div {
    border: none;
  }

  .profile-icon {
    position: absolute;
    top: 2.5em;
    border-bottom: none;
  }

  .scroll-top-btn {
    font-size: 0.7em;
  }

  /* cart */
  /* cart */
  /* cart *
  /* cart */
  /* cart */

  .cart {
    width: 85%;
  }

  /* general page */
  /* general page */
  /* general page */
  /* general page */
  /* general page */

  .home-page h1 {
    font-size: 3em;
  }

  .home-page h2 {
    font-size: 1.6em;
    font-weight: bold;
  }

  .home-page h3,
  .footer h3 {
    font-size: 1.5em;
  }

  .footer h4 {
    font-size: 0.8em;
  }

  .home-page p {
    font-size: 0.9em;
  }

  .home-page a {
    font-size: 0.8em;
  }

  /* search bar */
  /* search bar */
  /* search bar */
  /* search bar */
  /* search bar */
  .search-bar {
    font-size: 0.8em;
  }
  .search-bar form {
    width: 100%;
    height: 3em;
  }

  .search-bar input {
    font-size: 1em;
  }

  .search-results {
    width: 100%;
  }

  /*site intro */
  /*site intro */
  /*site intro */
  /*site intro */
  /*site intro */

  .site-intro {
    padding: 5em 2em;
  }
  .site-intro-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-link-buttons-container {
    width: 100%;
    flex-direction: column;
    gap: 2em;
  }

  .site-intro .link-buttons {
    width: 100%;
    font-size: 0.8em;
  }

  /* home page first body */
  /* home page first body */
  /* home page first body */
  /* home page first body */
  /* home page first body */

  .about-logos-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .about-logos-container span {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-logos-container .logo {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .about-logos-container img {
    width: 60%;
  }

  /* about us */
  /* about us */
  /* about us */
  /* about us */
  /* about us */

  .homepage-about-paragraph {
    padding: 0;
  }

  /* home page how shoes are made */
  /* home page how shoes are made */
  /* home page how shoes are made */
  /* home page how shoes are made */
  /* home page how shoes are made */
  /* home page how shoes are made */

  .shoe-made {
    padding: 0;
    border-top: 1px solid var(--border-grey);
  }

  .shoe-made-container {
    flex-direction: column;
    padding: 1em;
  }

  .shoe-made p {
    font-size: 0.9em;
  }

  .shoe-made-container span {
    width: 100%;
  }

  .info h3 {
    font-size: 1.2em;
  }

  /* best sellers */
  /* best sellers */
  /* best sellers */
  /* best sellers */
  /* best sellers */

  .best-sellers,
  .new-arrivals {
    margin: 0;
  }

  .products-section {
    flex-direction: column;
    margin: 3em 0;
  }

  .products-container {
    justify-content: space-between;
  }

  .product-modal {
    width: 47%;
  }

  .product-modal > span {
    margin-top: 0.3em;
  }

  .product-modal a {
    font-size: 1em;
  }

  .product-modal p {
    font-size: 1em;
    margin: 0;
  }
  .loading-product-modal {
    width: 47%;
    height: 27em;
    margin-bottom: 2em;
  }

  .sale-modal {
    padding: 10px;
  }

  .sale-modal p {
    font-size: 0.6em;
  }

  /* shop men shop women section */
  /* shop men shop women section */
  /* shop men shop women section */
  /* shop men shop women section */
  /* shop men shop women section */

  .home-shop {
    flex-direction: column;
  }

  .heading-button {
    width: 100%;
  }

  /* recycle section */
  /* recycle section */
  /* recycle section */
  /* recycle section */
  /* recycle section */

  .home-recycle {
    flex-direction: column-reverse;
  }

  .home-recycle > * {
    width: 100%;
  }

  /* home page customer reviews */
  /* home page customer reviews */
  /* home page customer reviews */
  /* home page customer reviews */
  /* home page customer reviews */

  .home-customers > span {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .home-customers .review {
    width: 90%;
  }

  /* footer better for people and planer section */
  /* footer better for people and planer section */
  /* footer better for people and planer section */
  /* footer better for people and planer section */
  /* footer better for people and planer section */
  /* footer better for people and planer section */

  .footer-better {
    padding: 5em 0;
  }

  .footer-better h2 {
    font-size: 1.7em;
  }
  .footer-better .head-info-buttons span {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .footer-better span > a {
    width: 90%;
  }

  /* footer center */
  /* footer center */
  /* footer center */
  /* footer center */
  /* footer center */
  .foot-icons {
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
  }

  /* footer links */
  /* footer links */
  /* footer links */
  /* footer links */
  /* footer links */

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-links .heading-content {
    width: 100%;
  }

  .foot-icons .icon-desc {
    width: 100%;
  }

  .footer-links > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .footer-links .head-and-links span a {
    justify-content: center;
  }

  .foot-end {
    flex-direction: column;
    margin-top: 3em;
    text-align: center;
  }
}
